<%- include('partials/header')%>
<link href="css/patrol.css" rel="stylesheet">
<!-- This page will display a qr code to view the webcam stream -->
<div class="patrolsec">
<div class="video-div">
    <video autoplay id='video'></video>
</div>
<div class="options">
    <div>
    <h4>your patrol ID:</h4>
    <h1><%= id %></h1>
    <h5>Enter your patrol ID into the patrol ID field on another device to view your feed. Or follow the link below</h5>
    </div>  
    <a href="https://plunderpatroll.herokuapp.com/register<%= id %>" target="_blank">Click to view feed</a>
    <!-- <a href="http://localhost:3000/register<%= id %>" target="_blank">Click to view feed</a> -->
</div>



</div>



<script src="js\socket.io-client\dist\socket.io.js"></script>
<script src="js\socket.io-stream.js"></script>
<script src="js\qrcode.js"></script>
<script>
    id="<%=id%>"
    var qrcode = new QRCode("qr-code", {
    text: "https://plunderpatroll.herokuapp.com/register<%= id %>",
    width: 128,
    height: 128,
    colorDark : "#000000",
    colorLight : "#ffffff",
    correctLevel : QRCode.CorrectLevel.H
});
</script>
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script>
    var pcConfig = { 
        iceServers: [{
                        urls: "turn:numb.viagenie.ca",
                        username: "<%=username%>",
                        credential: "<%=password%>"
                    },{
                        urls:"stun:numb.viagenie.ca"
                    }]
};
</script>



<script src="js/patrol.js"></script>

<%- include('partials/footer')%>