<%- include('partials/header')%>

<!-- This is the page for the mobile device-->

<video autoplay id="remote-video">
</video>
<button type="" id="watch-button">Watch</button>




<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="js\socket.io-client\dist\socket.io.js"></script>
<script src="js\socket.io-stream.js"></script>
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script>
    var getId="<%=id%>";
    console.log(getId);
    var socket = io('/'+getId);
    var pcConfig = { 
        iceServers: [{
                        urls: "turn:numb.viagenie.ca",
                        username: "<%=username%>",
                        credential: "<%=password%>"
                    },{
                        urls:"stun:numb.viagenie.ca"
                    }]
};
</script>
<script src="js/watch.js"></script>

<%- include('partials/footer')%>